html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 0.838 rem;
    font-family: "Nunito", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
    background-color: #fbfefd;
    color: #707070;
    line-height: 1.6;
}

.loader-container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 658px) {
    body {
        font-size: 1rem;
    }
}
