body {
    display: flex;
    justify-content: center;
}

.quiz-container {
    border-radius: 4px;
    padding: 30px;
}

.quiz-container .question-number {
    font-size: 32px;
    font-weight: 500;
    color: #9611be;
}

.quiz-container .total-question {
    font-size: 16px;
    font-weight: 500;
    color: #868e99;
}

.quiz-container h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
}

.quiz-container ul {
    margin-top: 20px;
    margin-left: -40px;
}

.quiz-container ul li {
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
}

.quiz-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-container ul .selected-option {
    border: 1px solid #9611be;
}

.quiz-container button {
    background: #9611be;
    border-radius: 9px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.quiz-container button:disabled {
    background: #e7e8e9;
    color: #868e99;
    cursor: not-allowed;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.result h3 {
    font-size: 24px;
    letter-spacing: 1.3px;
    text-align: center;
}

.result p {
    font-size: 16px;
    font-weight: 500;
}

.result p span {
    color: #9611be;
    font-size: 22px;
}

@media screen and (min-width: 576px) {
    .quiz-container {
        max-width: 500px;
    }
}
